.Dropdown {
    max-width: 250px;
    position: relative;
}

.Dropdown>.header {
    padding: var(--gap-s) var(--gap);
    background-color: var(--white);
    border: 1px solid var(--gray);
}

.Dropdown>.header:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.Dropdown>.header:active {
    background-color: var(--white);
}

.Dropdown>.list {
    border: 1px solid var(--gray);
    position: absolute;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
}

.Dropdown>.list>h4 {
    padding: var(--gap-m);
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
}

.Dropdown>.list>h4.selected {
    background-color: var(--gray);
}

.Dropdown>.list>h4:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.Dropdown>.list>h4:active {
    background-color: var(--white);
}