:root {
    --primary-color: gray;
    --gap: 10px;
    --gap-s: 5px;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

h5,
h2 {
    margin: 0;
    color: var(--primary-color);
}


.flex {
    display: flex;
    gap: var(--gap);
}

.flex.line {
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.flex.rows {
    gap: var(--gap-s);
    flex-direction: column;
}

.flex.between {
    justify-content: space-between;
}


.box {
    background-color: var(--primary-color);
    justify-content: center;
    height: 100px;
    align-items: center;
}

.align-start {
    align-self: flex-start;
}

.align-end {
    align-self: flex-end;
}



.grid {
    background-color: red;
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 40px;
}

.grid.cols {
    grid-template-rows: auto;
    grid-template-columns: 100px 1fr;
}

.grid> :nth-child(1) {
    background-color: blue;
}

.grid> :nth-child(2) {
    background-color: green;
}

.grid> :nth-child(3) {
    background-color: gray;
}


.cube {
    background-color: red;
    height: 100px;
    width: 100px;
}

.cube.blue {
    position: absolute;
    left: 5%;
    top:8%;
    background-color: blue;
    z-index: -1;
}

.cube.yellow {
    position: fixed;
    left: 0%;
    top:0%;
    width: 100%;
    height: 60px;
    background-color: magenta;
    z-index: 3;
}

.grid-cubes {
    display: grid;
    gap: 10px;
    height: 300px;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 600px) {
    .grid.cols {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .grid-cubes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    .grid-cubes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {


    .grid-cubes {
        grid-template-columns: repeat(3, 1fr);
    }
}


.green-wrapper {
    background-color: green;
    position: relative;
}