.Btn {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--gap-s) var(--gap);
    border: none;
    border-radius: 3px;
    min-width: 100px;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Btn:active {
    opacity: 0.9;
}

.LinkBtn {
    background-color: transparent;
    border: none;
    color: inherit;
}

.LinkBtn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.LinkBtn:active {
    opacity: 0.9;
}