.StockItem {
    background-color: var(--white);
    padding: var(--gap);
    width: 100%;
}

.StockItem .pic {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.StockItem .pic img {
    width: 100px;
    object-fit: cover;
}


.ListItem {
    background-color: var(--white);
    padding: var(--gap);
    width: 250px;
    box-shadow: 1px 1px 1px #e1e1e1;
}

.ListItem img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}