html,
body,
#root,
.App {
    height: 100%;
}

* {
    margin: 0;
    font-family: var(--font-family);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 0,
        'GRAD' 200,
        'opsz' 40
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 13px;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: var(--primary);
}