:root {
    --font-family: 'Roboto Condensed', sans-serif;
    --gap: 20px;
    --gap-s: 10px;
    --gap-xs: 5px;
    --gap-m: 15px;
    --primary: #1a73e8;
    --header-color: #333;
    --light-gray: #f1f1f1;
    --gray: #ddd;
    --white: #fff;
    --valid: green;
    --error: red;
}